PGHOST=host.docker.internal
PGPORT=5432
PGUSER=refresh
PGPASSWORD=refresh
PGDATABASE=refresh
# DATABASE_URL=postgresql+asyncpg://refresh:refresh@host.docker.internal:5432/refresh
RABBITMQ_URL=amqp://guest:guest@host.docker.internal:5672/
CANVAS_API_BASE_URL=http://ikusito-canva-api.ikusi
MCP_SERVER_URL=http://ikusito-mcp-server.ikusi/sse
MCP_DEFAULT_LOGGED_USER_ROLE=gerente_general
REFRESH_QUERY_CONCURRENCY=5
RABBITMQ_PREFETCH_COUNT=5
RABBITMQ_MAX_RETRIES=3
